.data-table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    margin-top: 10px;
}

.data-table thead {
    background: #cbd8e6;
}

.data-table th {
    padding: 15px;
    text-align: left;
    font-weight: bold;
    color: #110f0f;
    border-bottom: 2px solid #dee2e6;
    font-size: 14px;
}

.data-table td {
    padding: 15px;
    border-bottom: 1px solid #e9ecef;
    color: #201c1c;
    font-size: 14px;
}