.emp-search-container {
    position: relative;
    width: 100%;
    font-family: 'Segoe UI',sans-serif;
}
.search-box {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: border 0.3s;
}

.search-box:focus {
    border-color: #ff7f50;
}

#empDropdown {
    position: absolute;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    background: #ffffff;
    display: none;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.emp-item {
    padding: 12px;
    cursor: pointer;
    justify-content: space-between;
}
.emp-item:hover {
    background-color: #9fe9c4;
}

.id-badge {
    background: #007bff;
    color: #ffffff;
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 11px;
    font-weight: bold;
}

.rank-badge {
    font-size: 11px;
    font-weight: bold;
    padding: 2px 8px;
    border-radius: 4px;
    pointer-events: none;
}

