body {
    margin: 0;
    padding: 0;
    background-color: #f0eaea;
}

.navbar {
    background-color: #1a1a1a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.navbar h2 {
    color: #4CAF50;
    font-family: Arial;
    font-size: 30px;
    margin:0;
}

.container {
    list-style: none;
    gap: 35px;
    margin: 0;
    padding: 0;
    display:flex;
}

.container li a {
    color: #ffffff;
    text-decoration: none;
    font-family: Arial;
    font-size: 18px;
    cursor: pointer;  
}

.container li a:hover {
    color: #4CAF50;
}
